@import "sanitize.css";

html { 
    height: 100vh;
}
body {
    width: 80%;
    margin: auto;
    background: #d32f2f;
}

.navbar {
    color: #ffd600;
    text-align: center;
    margin: 50px 0 0 0;
}

.header {
    font-family: serif;
}
.logo {
    font-family: 'Charmonman', cursive;
    font-size: 2em;
    margin: 0 50px;
}
.uppercase {
    text-transform: uppercase;
}

.canvas {
    margin: auto;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-rows: auto;
    background: #b1afaf;
}

.cell{
}